<div class="container">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-5 mt-5">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <span style="color: white;" class="mb-3 mb-md-0">2024 My Cocktail Finder App , All rights reserved</span>
        </div>
    </footer>
  </div>
  